<p class="error"></p>
<p class="success"></p>
<input type="text" class="grid_7" id="school" value="Start typing your school's name..." />
  <input type="text" class="grid_7" id="professor" value="Start typing your professor's name..." />

<div id="rating_box">
  
<div id="home-add-rating-right" class="alignright grid_3" style="text-align: right;">
  <img src="#" alt="" id="professor_rating_photo" class="thumbnail alignright">
  <br />
  <b id="rating-school"></b>
  <p id="rating-right-professor"></p>
  <p>
  <b>Tags:</b>
  <span id="rating-tagcloud"></span>
  </p>
</div>

  
  <%= form_tag professor_ratings_path, :remote => true, :id => "rating_form" do -%>
    <%= hidden_field_tag 'rating_form[professor_id]' %>
    <%= hidden_field_tag 'rating_form[course_id]' %>
    <%= text_area_tag "rating_form[comments]", "Comment on your professor...", :cols => 50, :rows => 10, :class => 'grid_6' %><br />
    <%= text_field_tag "auto_course", "What course are you rating them for?", :class => "grid_6" %>
    <ul id="rating_form_tags" class="grid_6"></ul>
    <%= submit_tag "Add Rating" %>
  <% end -%>
</div>

<div id="past_ratings"></div>
