<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @department.name %>
</p>

<p>
  <b>Abbreviation:</b>
  <%= @department.abbreviation %>
</p>

<p>
  <b>School:</b>
  <%= @department.school_id %>
</p>


<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
