<div class="rating-block" upvotes="<%= rating.upvotes %>" downvotes="<%= rating.downvotes %>">
<div class="votebuttons">
<input type="radio" name="votebutton<%= rating.id %>" id="upvote<%= rating.id %>" rating-up="<%= rating.id %>" /><label for="upvote<%= rating.id %>"><%= rating.upvotes %> +</label>
<input type="radio" name="votebutton<%= rating.id %>" id="downvote<%= rating.id %>"  rating-down="<%= rating.id %>" /><label for="downvote<%= rating.id %>"><%= rating.downvotes %> -</label>
</div>
<blockquote>
    <p><%= rating.comments %></p>
    <p style="font-style: normal; font-weight: bold;">
      <%= rating.course.department.abbreviation %> <%= rating.course.number %> - <%= rating.course.name %>
    </p>
    <p>
      <% rating.owned_tags.each do |tag| %>
        <a href="#" class="tag-link"><%= tag.name %></a>
      <% end%>
    </p>
</blockquote>
</div>
