<div class="rating-block" upvotes="<%= rating.upvotes %>" downvotes="<%= rating.downvotes %>">
<button class="upvote" rating-up="<%= rating.id %>"><%= rating.upvotes %> +</button>
<button class="downvote" rating-down="<%= rating.id %>"><%= rating.downvotes %> -</button>
<blockquote>
    <p><%= rating.comments %></p>
    <p style="font-style: normal; font-weight: bold;">
      <%= rating.course.department.abbreviation %> <%= rating.course.number %> - <%= rating.course.name %>
    </p>
    <p>
      <% rating.owned_tags.each do |tag| %>
        <a href="#" class="tag-link"><%= tag.name %></a>
      <% end%>
    </p>
</blockquote>
</div>
