<h1>Listing professors</h1>

<table>
  <tr>
    <th>Department</th>
    <th>Office building</th>
    <th>Office room</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @professors.each do |professor| %>
  <tr>
    <td><%= professor.department_id %></td>
    <td><%= professor.office_building %></td>
    <td><%= professor.office_room %></td>
    <td><%= professor.firstname %></td>
    <td><%= professor.lastname %></td>
    <td><%= professor.title %></td>
    <td><%= link_to 'Show', professor %></td>
    <td><%= link_to 'Edit', edit_professor_path(professor) %></td>
    <td><%= link_to 'Destroy', professor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Professor', new_professor_path %>
