<p id="notice"><%= notice %></p>

<p>
  <b>Department:</b>
  <%= @professor.department_id %>
</p>

<p>
  <b>Office building:</b>
  <%= @professor.office_building %>
</p>

<p>
  <b>Office room:</b>
  <%= @professor.office_room %>
</p>

<p>
  <b>Firstname:</b>
  <%= @professor.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @professor.lastname %>
</p>

<p>
  <b>Title:</b>
  <%= @professor.title %>
</p>


<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
