<h1>Listing professor_ratings</h1>

<table>
  <tr>
    <th>Comments</th>
    <th>Course</th>
    <th>Professor</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @professor_ratings.each do |professor_rating| %>
  <tr>
    <td><%= professor_rating.comments %></td>
    <td><%= link_to professor_rating.course.name, course_path(professor_rating.course) %></td>
    <td><%= link_to professor_rating.professor.title + ' ' + professor_rating.professor.firstname + ' ' + professor_rating.professor.lastname, professor_path(professor_rating.professor) %></td>
    <td><%= professor_rating.owned_tags %></td>
    <td><%= link_to 'Show', professor_rating %></td>
    <td><%= link_to 'Edit', edit_professor_rating_path(professor_rating) %></td>
    <td><%= link_to 'Destroy', professor_rating, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Professor rating', new_professor_rating_path %>
