<p id="notice"><%= notice %></p>

<p>
  <b>Comments:</b>
  <%= @professor_rating.comments %>
</p>

<p>
  <b>Tags:</b>
  <%= @professor_rating.owned_tags %>
</p>

<p>
  <b>Course:</b>
  <%= @professor_rating.course_id %>
</p>

<p>
  <b>Professor:</b>
  <%= @professor_rating.professor_id %>
</p>


<%= link_to 'Edit', edit_professor_rating_path(@professor_rating) %> |
<%= link_to 'Back', professor_ratings_path %>
