<p id="notice"><%= notice %></p>

<p>
  <b>Comments:</b>
  <%= @professor_rating.comments %>
</p>

<p>
  <b>Firstname:</b>
  <%= @professor_rating.firstname %>
</p>

<p>
  <b>Knowledge:</b>
  <%= @professor_rating.knowledge %>
</p>

<p>
  <b>Engagement:</b>
  <%= @professor_rating.engagement %>
</p>

<p>
  <b>Curriculum:</b>
  <%= @professor_rating.curriculum %>
</p>

<p>
  <b>Openness:</b>
  <%= @professor_rating.openness %>
</p>

<p>
  <b>Officehelp:</b>
  <%= @professor_rating.officehelp %>
</p>

<p>
  <b>Assignments:</b>
  <%= @professor_rating.assignments %>
</p>

<p>
  <b>Clarity:</b>
  <%= @professor_rating.clarity %>
</p>

<p>
  <b>Fun:</b>
  <%= @professor_rating.fun %>
</p>

<p>
  <b>Caring:</b>
  <%= @professor_rating.caring %>
</p>

<p>
  <b>Course:</b>
  <%= @professor_rating.course_id %>
</p>

<p>
  <b>Professor:</b>
  <%= @professor_rating.professor_id %>
</p>


<%= link_to 'Edit', edit_professor_rating_path(@professor_rating) %> |
<%= link_to 'Back', professor_ratings_path %>
